services:
  - type: web
    name: aura-frontend
    env: static
    buildCommand: npm install && npm run build
    staticPublishPath: ./dist
    routes:
      - type: rewrite
        source: /*
        destination: /index.html
    envVars:
      - key: VITE_API_URL
        sync: false
      - key: VITE_API_KEY
        sync: false
      - key: NODE_VERSION
        value: "18"
